.form {
  max-width: 500px;
  margin: 3rem auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #8ac21b46;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #ffcc00;
}

.form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.form input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form button {
  font: inherit;
  font-weight: 500;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  width: 100%;
  max-width: 250px;
  border: none;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #0056b3;
}

.errorCon {
  margin-top: 1.5rem;
}

.errorCon>* {
  margin-bottom: 1rem;
}