.contact {
  flex: 1;
}

.contact ul {
  list-style-type: none;
  padding: 0;
}

.contact ul li {
  margin-bottom: 10px;
}

.contact-form {
  flex: 1;
  padding-left: 40px;
  /* Space between sections */
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ced4da;
  /* Light border */
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
  min-height: 150px;
}