.header {
  background: linear-gradient(to bottom right, #000000, #3b1d0b);
  border-bottom: 1px solid #a89595;
  padding: 10px 20px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #a89595;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media a {
  margin: 0 5px;
  text-decoration: none;
  font-size: 0.7rem;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin: 0 5px;
}

.social-icon:hover {
  background-color: #ffb84d;
  color: #fff;
  transition: all .2s ease-in-out;
}

.contact-info span {
  margin: 0 5px;
  font-size: 0.75rem;
  font-weight: 500;
  border-right: 2px solid #ccc;
  padding-right: 10px;
  color: #f5f5f5;
}

.contact-info span:last-child {
  margin-right: 0;
  border-right: none;
}

.contact-info span svg {
  color: #ff9900;
  font-size: 0.7rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-top: 10px;
}

.nav .logo {
  margin: -0.9rem 0;
}

.nav .logo img {
  width: 11rem;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 420;
}

.nav-links a:hover,
.isActive {
  border-bottom: 2px solid #ffcc33;
  padding-bottom: 5px;
  transition: all .2s ease-in-out;
}

.nav-buttons a {
  text-decoration: none;
}

.nav-buttons .btn {
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #ff9900;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-buttons .btn:hover {
  background-color: #ffb84d;
}

.nav-buttons .btn.volunteer {
  background-color: #cc3300;
  color: #ffffff;
}

.nav-buttons .btn.volunteer:hover {
  background-color: #e63900;
}