.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  overflow: hidden;
}

.hero-slider-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: black;
}

.hero-content {
  max-width: 50%;
  text-align: center;
  z-index: 1;
  color: #fff;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-content .btn {
  padding: 10px 20px;
  color: white;
  background-color: #cc3300;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.hero-content .btn:hover {
  background-color: #e63900;
  transition: all .2s ease-in-out;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-image-circle {
  width: 500px;
  height: 500px;
  border-radius: 10%;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}