.infoCard {
  width: 20rem;
  min-height: 15rem;
  background-color: #1a1a1a;
  color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.infoCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.infoCardContent {
  text-align: center;
}

.infoCardTitle {
  font-size: 2rem;
}

.infoCardMotive {
  font-size: 16px;
}

.icon {
  font-size: 4rem;
  margin-right: 10px;
  color: #ffcc00;
}

@media (max-width: 600px) {
  .infoCard {
    padding: 15px;
    margin: 10px;
  }

  .infoCardTitle {
    font-size: 20px;
  }

  .infoCardMotive {
    font-size: 14px;
  }
}