.info-section {
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 50px 20px;
  background: linear-gradient(to right, #2b1d0e, #4a3421);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-item {
  text-align: center;
  max-width: 30%;
}

.info-item i {
  font-size: 2em;
  margin-bottom: 10px;
}

.info-item h3 {
  margin-bottom: 10px;
}